{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"   crossorigin="anonymous">
</head>
<body>
	{% block main %}
	{% endblock %}
	{% block js %}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="{% static 'base/js/prepare_ajax.js' %}"></script>
	{% endblock %}
	{% block extrajs %}
	{% endblock %}
</body>
</html>